<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default "en-us" }}">
  {{ partial "site_head" . }}
  <script type="text/javascript">
    if (window.location.hostname == "www.ansol.org") {
      window.location = window.location.href.replace("www.ansol.org", "ansol.org");
    }

    function showSearch() {
      document.querySelector('body').classList.toggle('searching');
      document.getElementById('search-query').focus();
      return false;
    }

    function hideSearch() {
      document.querySelector('body').classList.toggle('searching');
      document.getElementById('search-query').blur();
      return false;
    }

    document.addEventListener('keydown', function (e) {
      if (e.which == 27) {
        if (document.querySelector('body.searching')) {
          hideSearch();
        }
      }
    });
  </script>
  <body>
    <nav class="main">
      <div class="body-width">
        <a class="menu" href="#" onclick="this.parentNode.parentNode.classList.toggle('menu--expanded'); return false;"><img src="{{ (resources.Get "images/menu.svg").Permalink }}" alt="Menu"></a>
        <a href="{{ (site.GetPage "").Permalink }}"><img src="{{ (resources.Get "images/logo.svg").Permalink }}" alt="Associação Nacional para o Software Livre" /></a>
        <ul class='sections'>
          <li><a href="{{ (site.GetPage "Section" "noticias").Permalink }}">Notícias</a></li>
          <li><a href="{{ (site.GetPage "Section" "iniciativas").Permalink }}">Iniciativas</a></li>
          <li><a href="{{ (site.GetPage "recursos").Permalink }}">Recursos</a></li>
          <li><a href="{{ (site.GetPage "Section" "eventos").Permalink }}">Eventos</a></li>
          <li><a href="{{ (site.GetPage "sobre").Permalink }}">Sobre</a></li>
          <li><div><a class='cta-header' href="{{ (site.GetPage "inscricao").Permalink }}">Inscreve-te</a></div></li>
        </ul>
        <a class='nav-search' href="#" onclick="return showSearch();">Pesquisar</a>
      </div>
    </nav>
    <main>
      {{ block "main" . }}{{ end }}
    </main>

    {{ partial "search" . }}
    {{ partial "site_js" . }}

    <footer>
      <div class="body-width">
        <p>Copyright 2001 &mdash; {{ now.Year }} ANSOL</p>
        <p>Associação Nacional para o Software Livre</p>
        <p><a href="{{ (site.GetPage "contactos").Permalink }}">Contactos</a></p>
        <p><a href="{{ (site.GetPage "orgaos-sociais").Permalink }}">Órgãos sociais</a></p>
        <p><a href="https://gitlab.com/ansol/web-ansol.org">Código fonte</a></p>
        <p><a href="{{ (site.GetPage "licenca").Permalink }}">Licenças e atribuições</a></p>
      </div>
    </footer>
  </body>
</html>
